@charset "utf-8";

.btn-primary,
.btn-primary.disabled, 
.btn-primary:disabled,
.btn-outline-primary:hover,
.btn-outline-primary:not(:disabled):not(.disabled):active, 
.btn-outline-primary:not(:disabled):not(.disabled).active,
.page-item.active .page-link,
.show > .btn-outline-primary.dropdown-toggle,
.custom-control-input:checked ~ .custom-control-label::before,
.custom-checkbox .custom-control-input:indeterminate ~ .custom-control-label::before {
	background-color: #323c46 !important;
	border-color: #323c46 !important;
}

hr.hr::after,
.dropdown-item.active, 
.dropdown-item:active,
.bg-primary {
	background-color: #323c46 !important;
}

.border-primary {
	border-color: #323c46 !important;
}

.text-primary,
.btn-outline-primary.disabled, 
.btn-outline-primary:disabled {
	color : #323c46 !important;
}

/* ---------------------------------------------------------- */

.btn-primary:focus, 
.btn-primary.focus,
.btn-primary:hover {
	background-color: #222 !important;
	border-color: #222 !important;
}

.btn-outline-primary {
	color: #222 !important;
	border-color: #222 !important;
}

.btn-outline-primary:hover {
	color: #fff !important;
}

a.bg-primary:hover, 
a.bg-primary:focus,
button.bg-primary:hover,
button.bg-primary:focus {
	background-color: #222 !important;
}

.btn-primary:focus, 
.btn-primary.focus,
.btn-outline-primary:focus, 
.btn-outline-primary.focus,
.custom-control-input:focus ~ .custom-control-label::before {
	box-shadow: 0 0 0 0.2rem rgba(85, 85, 85, 0.5) !important;
}
